<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <ul>
      <!-- <li v-for="(person, index) in persons"> {{ person }} --- {{  index  }}</li> -->
      <!-- <li v-for="item in 10">{{ item}}</li> -->
      <li v-for=" (person, index) in persons" :key="person.name">
        {{  person.name }}
        <input type="text"/>
        <button @click="handleClick(index)">下移</button>
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        persons: [
          {name: 'zhdngsan',age: 19},
          {name: 'lisi',age: 17},
          {name: 'wangwu',age: 33}
        ]
      },
      methods: {
        handleClick (index) {
          let item = this.persons.splice(index, 1);
          this.persons.splice(index + 1, 0,...item);
          console.log(item)
        }
      }
    });
  </script>
</body>
</html>